.tool-bar{
  display: flex;
  justify-content: space-between;
  height:100px;
}

.links{
  display: flex;
  justify-content: right;
}
.links div{
  padding-right: 15px;
  margin: auto;
}
.link{
  font-size: 22px;
  transition: all 0.3s ease;

}
.link:hover{
  font-size: 24px;
  cursor: pointer;
}
.active{
  color: honeydew;
}
