.content{
  margin: 10px;
  padding-top: 20px;
}



.row{
  display: flex;
  gap:40px;
}

.action {
  padding: 0 25px 20px;
}
button{
  flex:1
}

.add-group-button button {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}



.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.button-group button {
  width: calc(50% - 3px);
  height: 25px;

  margin: 0 3px 20px 3px;
}
